body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// MIXINS
@mixin padding-fontsize{
    padding: 3rem;
    font-size: 1.7rem;
}
// HEADER
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background:#579C87;
    border-bottom: 1px solid #fcca46;
        a{
            font-size:2rem;
            font-family: 'Righteous', cursive;
            color: #fcca46;
            text-decoration: none;
        }
}

// SECTION MENUS 

.mainmenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin:2rem;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    height: 400px;
    width: 250px;
    box-shadow: 1px 1px 6px grey;
}   
.mainmenu a{
    text-decoration: none;
   color: black;
}



a:hover>article>h2,a:hover>article>p,a:hover>article>span{
    overflow: hidden;
    transition: 0.3s;
    opacity: 0.7;
    transform: scale(1.50);
}


// STYLE LA NOTE ENCHANTEE ///////////////////////////////////////////////////////////////////////////////////
.style1{  
    background: #fcdfdb; 
    @include padding-fontsize;
    color: #582f34;
    p{
        font-family: 'Devonshire', cursive ;
    }
    .icon-Capture-decran-2020-05-09-a-043410-2:before {
        content: "\e908";
        font-size: 4rem;
      }
    .icon{
        background: -webkit-gradient(linear,left top,right bottom,from(red),to(orange));
        -webkit-background-clip: text;
        color: transparent; 
    }
    h2{
        font-size: 2rem;
    }

}


// STYLE LE CHIC A LA FRANCAISE ///////////////////////////////////////////////////////////////////////////////////
.style2{ 
    background: #fff5fe;
    font-family: 'Kurale', serif;
    @include padding-fontsize;
    h2{
        color:#c77412;
    }

    .gradient2{
        text-align: center;
        background: -webkit-gradient(linear,left top,right bottom,from(#c77412),to(#905bfd));
        -webkit-background-clip: text;
        color: transparent;
    }
}
// STYLE MENU LE DELICE DES PAPILLES ///////////////////////////////////////////////////////////////////////////////////
.style3{
    background: #f9f9f9;
    font-family: 'Parisienne', cursive;
    @include padding-fontsize;
    h2{
        color:#2b91f8 ;
    }
    .gradient3{
        text-align: center;
        background: -webkit-gradient(linear,left top,right bottom,from(#0228dd),to(#8dc5f5));
        -webkit-background-clip: text;
        color: transparent;
    }
}
// STYLE MENU LA PALETTE DU GOUT ///////////////////////////////////////////////////////////////////////////////////
.style4{
    background: #fdfffd;
    font-family: 'Kaushan Script', cursive;
    @include padding-fontsize;
    h2{
        color:#5eae4b ;
    }
    .gradient4{
        text-align: center;
        background:-webkit-gradient(linear,left top,right bottom,from(#5eae4b),to(#c8fe94));
        -webkit-background-clip: text;
        color: transparent;
    }
    .reverse{
        background:-webkit-gradient(linear,left top,right bottom,from(#c8fe94),to(#5eae4b));
        -webkit-background-clip: text;
        color: transparent;
    }
}


// COMING SOON
.button{
    display: flex;
    border-radius: 15px;
    width: 350px;
    justify-content: center;
    margin:auto;
    margin-bottom: 100px;
    background:#579C87;
    color:#fcca46 ;
        p{
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-size: 2rem;
            margin: 1rem;
        }
}
.dot{
    -webkit-animation: loading 2s ease-in-out infinite;
}
.dot1{
    -webkit-animation: loading 2s  ease-in-out infinite ;
    animation-delay: 0.4s;   
}
.dot2{
    -webkit-animation: loading 2s ease-in-out infinite; 
    animation-delay: 0.8s;  
}

// SECTION FOOTER//////////////////////////////////////////////////////////////////
footer{
    display: flex;
    justify-content: space-between;
    background: #579C87;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    border-top: 1px solid #fcca46;
    position: fixed;
    bottom: 0;  
}
footer a{
    margin: 1rem;
    text-decoration: none;
    color: #fcca46;
}

footer a:hover{
    -webkit-animation : wiggle 0.1s alternate infinite ease-in-out;
}
// KEYFRAMES//////////////////////////////////////////////////////////////////

@-webkit-keyframes loading{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes wiggle{
    0%{
        -webkit-transform: rotate(5deg);
    }
    50%{
        -webkit-transform-origin: center;
    }
    100%{
        -webkit-transform : rotate(-5deg);
    }
}

// STYLE DES CARTES////////////////////////////////////////////////////////////

.positioncarte {
    display: flex;
    justify-content: center;
    padding-bottom: 8rem;
 } 
.carte{
    margin-top: 2rem;
    box-shadow: 1px 1px 6px grey; 

        .entete {
            display: flex;
            flex-direction: column;
        
            h3{
                text-align: center;
                font-size: 2rem;
                font-family: 'Devonshire', cursive ;
            }
        }      
        .icon {      
            display: flex;
            justify-content: center;
        }
        h4,ul{
            text-align: center;
            font-family: 'Kalam', cursive;
            font-size: 1.3rem;
            padding: 0;
            margin: 2rem;
        }
        h4 {
            position:relative;
            text-align: justify;
        }
            h4::before {
                margin:auto;
                content: '';
                position: absolute;
                border-bottom: 3px solid #333;
                bottom: 0;
                width: 0%;
                background: currentColor;
                transition:1s;
            }
             
               h4:hover::before {
                width:100%;
          }
        
        li {
            display: flex;
            justify-content: space-between;
        }
        .bordure{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }   
}


// CARTE NOTE ENCHANTEE////////////////////////////////////////////////////////////////////////////////////


.title_enchantée {
    display: flex;
    justify-content: center; }
  
 .icon-menu1gauche:before {
    content: "\e901";
    font-size: 2.3rem;
  } 
  .icon-menu1droite:before {
    content: "\e900";
    font-size: 2.5rem;
  }
         
.endmenu {
    display: flex;
    justify-content: center;
    margin-top: 4rem; 
    .end-icon {
    display: flex;
    align-items: center;
    margin: 0.8rem;
 }
}    

// CARTE LE CHIC A LA FRANCAISE//////////////////////////////////////////

.style2{
    
    .begin{
        color: #c67412;
    }
    .middle{
        color: #a56799;
    }
    .end{
        color: #6e4ccc;
    }
    h4,ul{
        font-family: 'Crimson Text', serif;
    }
}
.icon-menu2droite:before {
    content:"\e902";
    font-size: 1.9rem;   
  }
.icon-menu2gauche:before {
    content: "\e903";
    font-size:1.9rem ;
}  


// CARTE LE DELICE DES PAPILLES/////////////////////////////////////////////

.icon-menu3droite:before {
    content: "\e902";
    font-size: 1.4rem;
  }
.icon-menu3gauche:before {
    content: "\e903";
    font-size: 1.4rem;
}
.blue1{
      color: #0228dd;
}
.blue2{
    color: #0670f3;
}
.blue3{
    color: #229df9;
} 

.style3 {

    h4,ul{
        font-family: 'Bad Script', cursive;
}
}



// CARTE LA PALETTE DU GOUT////////////////////////////////////////////////////////////////////////////////////

.style4{

    h4,ul{
        font-family: 'Bad Script', cursive;
}
}

.icon-menu4droite:before {
    content: "\e906";
    font-size: 2rem;
  }
  .icon-menu4gauche:before {
    content: "\e907";
    font-size: 1.9rem;
  }  



// MEDIA QUERIES////////////////////////////////////////////////////////

@media screen and (max-width:767px){

    .positioncarte{
        flex-direction: column;
        margin: 1rem;
    }

    .bordure{
        flex-direction: column;
        align-items: center;
    }

    li{
        flex-direction: column;
        margin: 1rem;
    }
    
    .button{
       margin-bottom:180px;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}    
@media only screen and (min-width: 1294px) {
    
    .mainmenu{
        margin: auto;
        width: 1000px;
    }
}

@media only screen and (min-width:1919px){
    body{
        width: 80%;
        margin: auto;
    }

    footer{
        width: 80%;
    }
}

