@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8eocz0');
  src:  url('fonts/icomoon.eot?8eocz0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8eocz0') format('truetype'),
    url('fonts/icomoon.woff?8eocz0') format('woff'),
    url('fonts/icomoon.svg?8eocz0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Capture-decran-2020-05-09-a-043410-2:before {
  content: "\e908";
}
.icon-menu1droite:before {
  content: "\e900";
}
.icon-menu1gauche:before {
  content: "\e901";
}
.icon-menu2droite:before {
  content: "\e902";
}
.icon-menu2gauche:before {
  content: "\e903";
}
.icon-menu3droite:before {
  content: "\e904";
}
.icon-menu3gauche:before {
  content: "\e905";
}
.icon-menu4droite:before {
  content: "\e906";
}
.icon-menu4gauche:before {
  content: "\e907";
}
